<div class="message-wrap is-owned">
  <div class="message-main-content">
    <div class="message-data">
    </div>
    <div class="message-content">
      <p><%= @message.content %></p>
    </div>
  </div>
  <div class="message-user">
    <p>HC</p>
  </div>
</div>
