<main class="container home">
  <div class="row home-header">
    <div class="col-md-1 mr-auto">
      <button id="new-project-button" class="btn btn-primary mr-auto">New</button>
    </div>
    <div class="col-md-4">
      <h3 class="text-center">Projects</h3>
    </div>
    <div class="col-md-1 ml-auto">
      <button class="btn ml-auto">...</button>
    </div>
  </div>
<div class="row home-projects">
  <div class="col-md-4 project-col">
    <a href="#" class="project-card">
      <h4>Test Project 1</h4>
      <p>Project Description</p>
    </a>
  </div>
  <div class="col-md-4 project-col">
    <a href="#" class="project-card">
      <h4>Test Project 2</h4>
      <p>Project 2 Description</p>
    </a>
  </div>
  <div class="col-md-4 project-col">
  <a href="#" class="project-card">
    <h4>Test Project 3</h4>
    <p>Project 3 Description</p>
  </a>
</div>
<div class="col-md-4 project-col">
<a href="#" class="project-card">
  <h4>Test Project 4</h4>
  <p>Project 4 Description</p>
</a>
</div>
</div>
</main>
